<h3 class="text-center text-success">Sepetiniz</h3>
<hr />
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Ürün adı</th>
      <th>Adet</th>
      <th>Tutarı</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let basket of baskets let index = index">
      <td>{{index+1}}</td>
      <td>{{basket.product.name}}</td>
      <td><input type="number" min="0" id="Basketquantity-{{basket.product.name}}" (click)="changeData(basket)" class="form-control"  [value]="basket.quantity"></td>
      <td>{{(basket.quantity * basket.product.price) | currency:'TRY':'symbol-narrow':'1.2-2'}}</td>
      
      <td><button type="button" class="btn btn-danger btn-sm"  (click)="deleteProduct(basket)"  >Sil</button></td>
    </tr>
  </tbody>
  <tfoot>
    <th></th>
    <th></th>
    <th>{{total|currency:'TRY':'symbol-narrow':'1.2-2' }}</th>
    <th><div [innerText]="cal() | currency:'TRY':'symbol-narrow':'1.2-2'"></div></th>
    <th></th>
  </tfoot>
</table>
<div class="form-group text-center">
  <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#paymentModal">Ödeme Yap</button>
</div>
<app-payment [total]="total" (myEvent)="payment($event)"></app-payment>
